/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left-nav h2 {
    margin: 0;
}

.left-side ul {
    list-style-type: none;
    display: flex;
}

.left-side li {
    margin-right: 20px;
}

.left-side a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease; /* Adding transition for smooth hover effect */
}

.left-side a:hover {
    color: #ffcc00; /* Change color on hover */
}

.right-nav img {
    max-width: 100px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}
curve_chart {
    width: 100vw; /* Use full viewport width */
    height: 100vh; /* Use full viewport height */
}
